.dropdown {
  position: relative;
  display: inline-block;
  margin: 1px;
}

.dropdown-toggle {
  line-height: 1rem;
  padding: 0.25rem;
}

.toggled-open {
  border: 1px solid black;
  margin: 0px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: -1px;
  display: flex;
  background-color: white;
  border: 1px solid black;
}

.dropdown-column {
  flex: 1;
}

.dropdown-item {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: lightgray;
}

.dropdown-column:last-child > .dropdown-item {
  border-right: none;
}

.dropdown-item:last-child {
  border-bottom: none;
}
