.modal_container {
  width: 50%;
}

.modal_container .header {
  text-align: left;
}

.modal_container .body {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.modal_container .footer {
  display: block;
  text-align: left;
}
