.spell-modal-container {
  width: 50%;
}

.spell-modal-container .spell-header {
  text-align: left;
}

.spell-modal-container .spell-body {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.spell-modal-container .spell-footer {
  display: block;
  text-align: left;
}
