/* Button menu */
.menu-bar input {
  border: 1px solid black;
  background: white;
  cursor: pointer;
}
.menu-bar input:hover {
  background: lightgray;
}

/* Navigation tabs */
.nav {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding-left: 0px;
}
.nav > li {
  width: 50%;
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
}
.nav > li:hover {
  background: lightgray;
}
.nav > li.active {
  background: black;
  color: white;
}

/* Headers common to all pages */
/* Character name/other basic info */
.name-header {
  text-align: center;
  margin-bottom: 1rem;
}
.name-header .char-name {
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  font-family: inherit;
  text-align: center;
}
.name-header .player-name {
  margin: 0.5rem 0;
  font-style: italic;
  font-weight: normal;
  font-size: 1rem;
  opacity: 0.75;
}
.name-header p {
  display: inline-block;
  margin: 0.5rem;
}
.race {
  cursor: pointer;
}
/* XP total/inspiration */
.xp-inspire-header {
  position: absolute;
  top: 1rem;
  right: 1rem;
  text-align: right;
  display: inline-block;
}
.xp-inspire-header p,
.xp-inspire-header input,
.xp-inspire-header img {
  display: inline-block;
  vertical-align: middle;
  margin: 0.25rem;
}
/* Combat-related info for easy reference */
.combat-header {
  display: flex;
  justify-content: space-evenly;
  line-height: 50%;
}
/* Menu of buttons */
.menu-bar {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.saved-message {
  margin: 0px 1em;
}
.saved-message-shown {
  opacity: 1;
  transition: all 250ms linear;
}
.saved-message-hidden {
  opacity: 0;
  transition: all 250ms linear 2s;
}

.avatar-edit {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 1rlh;
  width: 1rlh;
  margin: 1px;
  opacity: 0.75;
  display: none;
}
.avatar-container {
  position: relative;
  cursor: pointer;
}
.avatar-container:hover .avatar-edit {
  display: block;
}
