.character-list {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.character-list-link {
  text-decoration: none;
  color: black;
  padding: 10px 10px;
  margin: 10px 10px;
  border: 2px solid black;
  text-align: center;
  width: 20rem;
  box-sizing: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.character-list-link:hover {
  background-color: lightgray;
}

.character-list-info {
  display: flex;
  align-items: center;
  justify-content: center;
}
