p {
  margin: 0.5rem 0rem;
}
ul {
  padding: 0px;
}
li {
  list-style-type: none;
}
li div {
  justify-content: center;
}

/* Ability scores/related proficiencies */
.ability-column {
  height: 100%;
}
.ability-line {
  justify-content: center;
}
.ability-input {
  width: 2em;
}
