/* Character name/other basic info */
.name-header {
  text-align: center;
  line-height: 50%;
  margin-bottom: 1rem;
}
.name-header p {
  display: inline-block;
  margin: 0.5rem;
}

/* Navigation tabs */
.nav {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding-left: 0px;
}
.nav li {
  width: 50%;
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
}
.nav li:hover {
  background: lightgray;
}
.nav li.active {
  background: black;
  color: white;
}

/* General Buttons */
.general-buttons {
  position: absolute;
  top: 0rem;
  left: 0rem;
}
.general-buttons button {
  margin: 0.5rem 0.5rem;
}
