/* Combat-related info for easy reference */
.combat-header {
  display: flex;
  justify-content: space-evenly;
  line-height: 50%;
}

/* Death save section */
.death-save-marker {
  height: 0.75rem;
  width: 0.75rem;
  background-color: white;
  border-radius: 50%;
  border: 1px solid black;
  display: inline-block;
  margin-left: 1px;
}
.filled {
  background-color: black;
}
