/* Column headers */
.col-flex > div {
  height: 100%;
  text-align: center;
}

/* Spell entries */
div:has(> .spell) {
  display: flex;
  align-items: center;
}
.spell {
  font-weight: bold;
  font-size: 0.75rem;
  text-align: center;
  display: inline-block;
  width: 100%;
}
