/* Navigation tabs */
.nav {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding-left: 0px;
}

.nav li {
  width: 50%;
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
}

.nav li:hover {
  background: lightgray;
}

.nav li.active {
  background: black;
  color: white;
}

/* Header common to all pages */
.common-header {
  display: flex;
  justify-content: space-around;
}
