.coins {
  text-align: center;
}
.coin-entry {
  margin: auto;
  padding: 0 0.5rem;
}
.coin-entry > span {
  justify-content: center;
  position: relative;
}
.coin-entry .button-holder {
  position: relative;
  height: 100%;
  width: 100%;
}
.coin-entry .button-holder:nth-of-type(odd) {
  margin-right: 1rem;
}
.coin-entry .button-holder:nth-of-type(even) {
  margin-left: 1rem;
}
.coin-entry .button-holder button {
  height: 100%;
  width: 100%;
}
.coin-entry label {
  font-weight: bold;
  font-size: 1rem;
}

.attunements > select {
  width: 100%;
  max-width: 20rem;
}

.item-entry {
  border-bottom: 1px dashed gray;
}
:has(> .add-item),
:has(> .x-button) {
  align-items: center;
  justify-content: center;
  display: flex;
}
