.row-flex {
  display: flex;
  flex-direction: row;
}

.col-flex {
  display: flex;
  flex-direction: column;
}

.block {
  display: block;
}

/* Distinct tiles w/in sheet (here so functionality can be used by multiple pages) */
.grid-container * {
  box-sizing: border-box;
}
.grid-tile {
  border: 1px solid black;
  padding: 0.25rem;
  padding-left: 1rem;
  margin: 0.25rem;
  /* B/c of margin collapse */
  margin-bottom: 0.5rem;
}
.borderless {
  border: none;
}
.grid-tile h1 {
  font-weight: bold;
  font-size: 1rem;
}
.grid-tile h2 {
  font-weight: bold;
  font-size: 0.75rem;
}
.grid-tile h3 {
  font-weight: bold;
  font-size: 0.75rem;
  opacity: 0.75;
}
/* Tile width in 12ths */
.col-1 {
  width: calc(100% / 12 * 1);
}
.col-2 {
  width: calc(100% / 12 * 2);
}
.col-3 {
  width: calc(100% / 12 * 3);
}
.col-4 {
  width: calc(100% / 12 * 4);
}
.col-5 {
  width: calc(100% / 12 * 5);
}
.col-6 {
  width: calc(100% / 12 * 6);
}
.col-7 {
  width: calc(100% / 12 * 7);
}
.col-8 {
  width: calc(100% / 12 * 8);
}
.col-9 {
  width: calc(100% / 12 * 9);
}
.col-10 {
  width: calc(100% / 12 * 10);
}
.col-11 {
  width: calc(100% / 12 * 11);
}
.col-12 {
  width: calc(100% / 12 * 12);
}

/* Specify headers to allow default size ones inside grid tiles */
h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
}
h1.header-override {
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
}
