.row-flex {
  display: flex;
  flex-direction: row;
}

.col-flex {
  display: flex;
  flex-direction: column;
}

.block {
  display: block;
}

.float-left {
  float: left;
  margin-right: 0.5lh;
}
.float-right {
  float: right;
  margin-left: 0.5lh;
}

.text-center {
  text-align: center;
}

.height-1 {
  height: 1lh;
}
.height-8 {
  height: 8lh;
}

.text-block {
  text-align: justify;
}

.flush-above {
  margin-top: 0px;
}
.flush-below {
  margin-bottom: 0px;
}

.clear-floaters {
  clear: both;
}

/* Distinct tiles w/in sheet (here so functionality can be used by multiple pages) */
.grid-container * {
  box-sizing: border-box;
}
.grid-tile {
  border: 1px solid black;
  padding: 0.25rem 1rem;
  margin: 0.25rem;
  /* B/c of margin collapse */
  margin-bottom: 0.5rem;
}
.borderless {
  border: none;
}
.grid-tile h1 {
  font-weight: bold;
  font-size: 1rem;
}
.grid-tile h2 {
  font-weight: bold;
  font-size: 0.75rem;
}
.grid-tile h3 {
  font-weight: bold;
  font-size: 0.75rem;
  opacity: 0.75;
}
/* Tile width */
.col-1 {
  width: calc(100%);
}
.col-1_2 {
  width: calc(100% / 2);
}
.col-1_3 {
  width: calc(100% / 3);
}
.col-1_4 {
  width: calc(100% / 4);
}
.col-1_5 {
  width: calc(100% / 5);
}
.col-1_6 {
  width: calc(100% / 6);
}
.col-1_7 {
  width: calc(100% / 7);
}
.col-6_7 {
  width: calc(100% * 6 / 7);
}
.col-1_10 {
  width: calc(100% / 10);
}
.col-3_10 {
  width: calc(100% * 3 / 10);
}
.col-4_10 {
  width: calc(100% * 4 / 10);
}
.col-6_10 {
  width: calc(100% * 6 / 10);
}
.col-7_10 {
  width: calc(100% * 7 / 10);
}

/* End of columns should go to bottom */
.col-end {
  height: 100%;
}

.hover-icon {
  height: 1rlh;
  margin: 1px;
  vertical-align: middle;
}
p:has(> .hover-icon) {
  display: inline;
}

.avatar {
  height: 3rlh;
  width: 3rlh;
  vertical-align: middle;
}
.avatar-label {
  display: inline-block;
  vertical-align: middle;
}
.avatar-container {
  display: inline-block;
  height: 3rlh;
  width: 3rlh;
  margin: 0.5rlh;
}

.hidden-file-input {
  display: none;
}

.catch-outside-clicks {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  position: fixed;
  overflow: auto;
  z-index: 9998;
}

.clickable {
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}
